* {
  box-sizing: border-box;
}

.footer {
  width: 100%;
  min-width: 800px;
  height: 5vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  justify-content: center;
  align-items: center;
}
