* {
  box-sizing: border-box; /*border-boxはレスポンシブデザインで便利  paddingとborderをサイズに含めるのではみ出さない*/
}

.top-page-header {
  width: 100vw;
  padding: 0 15vw;
  display: flex;
  flex-direction: column;
}
.second-page-header{
  height: 0vh;
  width: 100vw;
  padding: 0 15vw;
}

.heartapp-icon {
  width: 10vw;
  margin-right: 10vw;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;
}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.calendar-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  margin-right: 2vw;
  color: #333333;
  font-weight: bold;
}

.post {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.sign-up {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}