.top-page-header {
  width: 100vw;
  padding: 0 15vw;
  display: flex;
  flex-direction: column;
}

.heartapp-icon-6 {
  width: 20vw;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;
}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.genre-select-top{
  min-width: 100px;
  width: 15vw;
  max-width: 150px;
}

.calendar-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  margin-right: 2vw;
  color: #333333;
  font-weight: bold;
}

.post {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.sign-up {
  text-decoration: none;
  line-height: 32px;  /* この記述抜けでログイン表示と少しずれがあった */
  color: #333333;
  font-weight: bold;
}

 /* スマホ表示時 */
 @media (max-width: 599px) {
  .heartapp-icon-6 {
    width: 25vw;
  }

  .nav {
    font-size: 15px; /* 可能な一番大きいサイズ*/
    width: 100%;
    padding: 1vh 0;
  }

  .category-list {
    margin-right: 4vw; /* カテゴリーのーと・カレンダーの点が重なるためサイズアップ*/
  }
}