/* コラム投稿・編集のロゴ部分 */

.second-page-header{
  height: 0vh;   /* 上下にもともと余白のあるロゴ画像を使用。ヘッダーの親要素は画像表示したくないが、ロゴを添付させる目的で高さなし設定 */
  width: 100vw;
  padding: 0 15vw;
}

.heartapp-icon-5 {
  width: 20vw;  /* このロゴを大きく表示するためには、画像自体の横幅を大きくすればよい */
}

 /* タブレット表示時：サイズ変更しなくてよい */
 /* スマホ表示時：.heartapp-icon-5サイズアップしていたが、もう一度縦横最小サイズで確認すると重なってしまってNG 20vwがちょうど良いため記述削除 */
 /* スマホ・タブレットを横置きにした場合、フォームとロゴが重なってしまう課題あり */