/* コラム投稿・編集のフォーム部分 */

.column-box {
  height: 100vh;  /* 高さをpxで指定していたが、サイズによって変な余白が入る。100%ではフォームの高さだけ表示されてしまう。高さに応じて画面いっぱいにしたいのでvh使用 */
  background-color: peachpuff;
  display: flex;
  justify-content: center; /* 左右でみたとき中央配置*/
  align-items: center;     /* 上下でみたとき中央配置 */
  flex-direction: column;  /* 積み重なるように配置する、の意味 */
}

.title {
  height: 30px;
  width: 300px;
  margin: 20px;
}

.text {
  height: 100px;
  width: 300px;
  resize:none;   /* リサイズを行わない、の意味*/
  margin-bottom: 20px;
}

.genre-select{
  height: 30px;
  width: 250px;
}

.btn {
  width: 200px;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid white;
  background-color: orange;
  color: white;
}
/* タブレット表示時：このフォームはサイズ変更しなくてよい*/
/* スマホ表示時：最小スマホの横幅画面サイズは320px。検証確認でnew.cssはこのままのサイズでスマホ表示（320〜599px）がちょうどよかったので追記せず */