h2{
  text-align: center;
  background-color: lightyellow;
}

.columns{
  height:200px;
  background-color:peachpuff;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #fff;
  padding: 20px;
}

.column-genre{
  font-size: 16px;
  border: 1px solid;
  padding: 5px;
  background-color: lightyellow;
}

.column-title{
  font-size: 15px;
  font-weight: bold;
}

.column-text{
  font-size: 15px;
}

.column-date{
  font-size: 12px;
}

.column-admin{
  display: flex;
  list-style: none;
  font-size: 18px;
}

.column-edit{
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.column-delete{
  text-decoration: none;
  color: #333333;
}