h2{
  text-align: center;
  background-color: lightyellow;
}

.columns{
  height: auto;  /* pxでサイズ指定するとコラム量（子要素）が増えると親要素をはみ出した。hight:100%;指定し、サイズに合わせてサイズ変更可*/
  background-color:peachpuff;    /* hight:100%;（子要素にかける）でも伸び縮みしたが、.columnsは親要素なので、height: auto;と記述*/
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #fff;
  padding: 20px;
}

.column-genre{
  font-size: 16px;
  border: 1px solid;
  padding: 5px;
  background-color: lightyellow;
}

.column-title{
  font-size: 15px;
  font-weight: bold;
}

.column-text{
  font-size: 15px;
}

.column-date{
  font-size: 12px;
}

.column-admin{
  display: flex;
  list-style: none;
  font-size: 18px;
}

.column-edit{
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.column-delete{
  text-decoration: none;
  color: #333333;
}