h2{
  text-align: center;
  background-color: lightyellow;
}

.columns{
  height:200px;
  background-color:peachpuff;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #fff;
  padding: 20px;
}

.column-genre{
  font-size: 16px;
  border: 1px solid;
  padding: 5px;
  background-color: lightyellow;
}

.column-title{
  font-size: 20px;
  font-weight: bold;
}

.column-text{
  font-size: 20px;
}

.column-date{
  font-size: 12px;
}